[submodule "agda-casestt"]
	path = agda-casestt
	url = github:toonn/agda-casestt.git
[submodule "haskell-casestt"]
	path = haskell-casestt
	url = github:toonn/haskell-casestt.git
[submodule "sciartt"]
	path = sciartt
	url = github:toonn/sciartt.git
[submodule "popartt"]
	path = popartt
	url = github:toonn/popartt.git
